@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensanslight.woff') format('woff2'),
         url('../fonts/opensanslight.wof') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "opensans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;

  min-width: 1440px;
  min-height: 2795px;

}
/*
body > * {
  outline: 1px solid black;
}

body > * > * {
  outline: 1px solid red;
}

body > * > * > * {
  outline: 1px solid blue;
}

body > * > * > * > * {
  outline: 1px solid green;
}

.catalog-page{
  background-color: #ffffff;
}
*/
a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  border: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
   white-space: nowrap;
}

header {
  margin-top: 40px;
}

.main-wrapper {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-navigation {
  background-color: rgb(247,226,150);

  display: flex;
  flex-wrap: wrap;
}

.main-header-logo {
width: 100%;
margin-top: -19px;
margin-bottom: 17px;
margin-left: 60px;
}

.search-field {
  font-family: 'opensans';
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  background-color: rgb(247,226,150);

  width: 400px;
  margin-left: 60px;
}

.search-field input[type="search"] {
  opacity: 0.3;
}

.user-navigation {
  font-family: "opensans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: #000000;
  text-transform: capitalize;

  width: 460px;
  flex-grow: 1;

  display: flex;
  margin-right: 61px;
  padding-left: 166px;
  align-items: center;
}

.user-navigation .compare{
  margin-left: auto;
  margin-right: 64px;
}

.site-navigation {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  list-style: none;
  margin: 0;
  padding: 0;

  width: 100%;

  display: flex;
  margin-left: 60px;
  margin-right: 56px;
  margin-top: 38px;

  position: relative;
}

.catalog-sign {
  margin-left: 0;
  outline: 1px dashed black;
}

.catalog-sign::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
}

.site-navigation > li:hover .main-page-catalog,
.main-page-catalog:hover {
  display: flex;
}

.header-shipping {
  margin-left: auto;
  margin-right: 34px;
}

.header-garanty {
  margin-right: 110px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.search-field input[type="search"]:hover,
.search-field input[type="search"]:focus{
  opacity: 0.6;
}

.main-page-catalog {
  margin: 0;
  padding: 0;

  display: none;
  flex-grow: 1;

  margin-right: 61px;

  position: absolute;
  left: 0;

  /*outline: 1px solid black;*/
}

.dropdown-menu-columns {
  font-family: "opensans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  text-transform: none;
  letter-spacing: 0.15px;

  list-style: none;
  /*outline: 1px solid brown;*/
  margin-top: 0;
  padding-top: 20px;
}

.dropdown-menu-columns li {
  margin-left: -40px;
}

.dropdown-menu-first-column {
  margin-right: 58px;
}

.dropdown-menu-second-column {
  margin-right: 77px;
}

.to-do{
  height:1435px;
}

.index-columns {
  color: #000000;

  background-color: #ffffff;

  display: flex;
  justify-content: space-between;

}

.index-columns h2 {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.5;
}

.index-columns p:not(:last-of-type) {
  font-size: 15px;
  line-height: 30px;
}

.index-columns section {
  padding-top: 60px;
  padding-bottom: 90px;
}

.about-us {
  width: 480px;
}

.contacts {
  width: 560px;
}

.transportation-list {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;

  list-style: none;
}

.more-information {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.modal{
  display: none;
}

.main-footer {
  width: 100%;
  color: #ffffff;
  background-color: #464646;
  padding-bottom: 66px;
  padding-top: 55px;

}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  width:1160px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  margin: 0 auto;
}

.footer-user-navigation {
  width: 700px;
  margin-left: auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-user-navigation a {
  color: #ffffff;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.2px;

  opacity: 0.7;

  padding-left: 65px;

}

.footer-wrapper-1,
.footer-wrapper-2 {
  display: flex;
  justify-content: space-between;
  width: 1160px;
}


.footer-wrapper-2 {
  align-items: flex-end;
  margin-top: 40px;
}

.footer-site-navigation {
  list-style: none;
  width: 600px;

  display: flex;
}

.footer-site-navigation a {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  margin-left: 37px;
}

.footer-site-navigation .footer-shipping {
  margin-left: 0;
}

.adress,
.phone-number a {
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
}

.adress {
  width: 230px;
}

.footer-social {
  list-style: none;

  display: flex;
  width: 400px;
  justify-content: space-around;

  margin: 0;
  padding-left: 0;
}

.footer-social a {
  color: #ffffff;
/*  outline: 1px solid white;*/
}

.footer-wrapper-2::before {
  content: " ";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  align-self: center;
}

.htmlacademy-logo {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  width: 27px;
  height: 35px;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.footer-user-navigation a:hover,
.footer-user-navigation a:focus{
  opacity: 0.6;
}

/*Стилизация страницы каталога*/

.catalog-user-profile .sign-out {
  opacity: 0.3;
}
.catalog-user-profile a:hover,
.catalog-user-profile a:focus,
.catalog-user-navigation a:hover,
.catalog-user-navigation a:focus {
  opacity: 0.6;
}

nav .catalog-header-logo:hover,
nav .catalog-header-logo:focus,
.catalog-footer-logo:hover,
.catalog-footer-logo:focus{
  opacity: 0.6;
}

.page-title {
  font-size: 47px;
  font-weight: 48px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.1;

  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.1;

  opacity: 0.3;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.filter label {
  font-size: 14px;
}

.filter ul {
  list-style: none;
  line-height: 40px;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.selfie-catalog-list {
  list-style: none;
}

.selfie-catalog-list h3 {
  font-family: "gilroy", Arial, sans-serif;
  letter-spacing: 0.2px;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.selfie-catalog .price {
  font-family: "gilroy", Arial, sans-serif;
  color: #464646;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.pagination {
  background-color: #ebebeb;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;

  opacity: 0.3;
}

.pagination-item-current a {
  opacity: 1;
}

.pagination .navigation-button {
  font-family: "gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.pagination .navigation-button:hover,
.pagination .navigation-button:focus {
  background-color: #d9d9d9;
}

.pagination-item:not(.pagination-item-current) a:hover,
.pagination-item:not(.pagination-item-current) a:focus {
  opacity: 0.6;
}

.pagination-item:not(.pagination-item-current) a:active {
  opacity: 1;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus{
  color: #000000;

  opacity: 1;
}

.footer-user-profile a{
  color: #ffffff;
  opacity: 0.7;
  letter-spacing: 0.2px;
}

.footer-user-profile .sign-out {
  opacity: 0.3;
}

.footer-user-profile a:hover,
.footer-user-profile a:focus,
.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  opacity: 0.3;
}

.footer-user-profile .sign-out:hover,
.footer-user-profile .sign-out:focus {
  opacity: 0.7;
}

.htmlacademy-logo img:hover,
.htmlacademy-logo img:focus{
  opacity: 0.6;
}
