@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.woff2') format('woff2'),
         url('../fonts/opensans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanslight';
    src: url('../fonts/opensanslight.woff') format('woff2'),
         url('../fonts/opensanslight.wof') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "opensanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 800;
  color: #000000;

  background-color: #fff8c9;
}

.catalog-page{
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.search-field {
  font-family: 'opensanslight';
  font-size: 15px;
  line-height: 30px;

  background-color: rgba(247,226,150, 0.5);
}

.search-field input[type="search"] {
  opacity: 0.3;
}

.main-navigation {
  background-color: rgba(247,226,150, 0.5);
}

.user-navigation {
  font-family: "opensanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  text-transform: capitalize;
}

.site-navigation {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus,
.search-field input[type="search"]:hover,
.search-field input[type="search"]:focus{
  opacity: 0.6;
}

.dropdown-menu-columns {
  font-family: "opensanslight", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  text-transform: capitalize;
  letter-spacing: 0.2px;

  list-style: none;
}

.index-columns {
  color: #000000;

  background-color: #ffffff;
}

.index-columns h2 {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.5;
}

.index-columns p:not(:last-of-type) {
  font-size: 15px;
  line-height: 30px;
}

.transportation-list {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;

  list-style: none;
}

.more-information {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.modal{
  display: none;
}

.main-footer {
  color: #ffffff;

  background-color: #464646;
}

.footer-user-navigation a {
  color: #ffffff;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.2px;

  opacity: 0.7;
}

.footer-site-navigation {
  list-style: none;
}

.footer-site-navigation a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.adress,
.phone-number {
  color: #ffffff;
  font-size: 15px;
  line-height: 30px;
}

.footer-social ul {
  list-style: none;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.footer-user-navigation a:hover,
.footer-user-navigation a:focus{
  opacity: 0.6;
}

/*Стилизация страницы каталога*/

.catalog-user-profile .sign-out {
  opacity: 0.3;
}
.catalog-user-profile a:hover,
.catalog-user-profile a:focus,
.catalog-user-navigation a:hover,
.catalog-user-navigation a:focus {
  opacity: 0.6;
}

nav .catalog-header-logo:hover,
nav .catalog-header-logo:focus,
.catalog-footer-logo:hover,
.catalog-footer-logo:focus{
  opacity: 0.6;
}

.page-title {
  font-size: 47px;
  font-weight: 48px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.1;

  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.1;

  opacity: 0.3;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

.filter label {
  font-size: 14px;
}

.filter ul {
  list-style: none;
  line-height: 40px;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.selfie-catalog-list {
  list-style: none;
}

.selfie-catalog-list h3 {
  font-family: "gilroyextrabold", Arial, sans-serif;
  letter-spacing: 0.2px;
  font-size: 18px;
  line-height: 24px;
}

.selfie-catalog .price {
  font-family: "gilroylight", Arial, sans-serif;
  color: #464646;
  font-size: 16px;
  line-height: 24px;
}

.pagination {
  background-color: #ebebeb;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;

  opacity: 0.3;
}

.pagination-item-current a {
  opacity: 1;
}

.pagination .navigation-button {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.pagination .navigation-button:hover,
.pagination .navigation-button:focus {
  background-color: #d9d9d9;
}

.pagination-item:not(.pagination-item-current) a:hover,
.pagination-item:not(.pagination-item-current) a:focus {
  opacity: 0.6;
}

.pagination-item:not(.pagination-item-current) a:active {
  opacity: 1;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus{
  color: #000000;

  opacity: 1;
}

.footer-user-profile a{
  color: #ffffff;
  opacity: 0.7;
  letter-spacing: 0.2px;
}

.footer-user-profile .sign-out {
  opacity: 0.3;
}

.footer-user-profile a:hover,
.footer-user-profile a:focus,
.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
  opacity: 0.3;
}

.footer-user-profile .sign-out:hover,
.footer-user-profile .sign-out:focus {
  opacity: 0.7;
}

.htmlacademy-logo img:hover,
.htmlacademy-logo img:focus{
  opacity: 0.6;
}
